footer {
  width: 100%;
  height: 75px;
  // background: #fff;
  padding: 1em 0;
  p {
    color: rgba(0,0,0,0.5);
    &.date {
      color: #036;
    }
    a {
      color: #c69;

    }
  }
  ul.social_buttons {
    li {
      a {
        &.twitter { color: blue; }
        &.fb { color: green; }
        &.gplus { color: red; }
        &:hover { font-weight: 700; }
      }
    }
  }
}
