// Darker Green
$body-background-color: #70a598;

//Mid green
$Mid-green-color: #92aaa4;

// Light Grey green
$Highlight-green-color: #b7c9c5;

// Pure White
$true-white-color: #fff;

// darker version of body-background-color
$Mid-title-color: #4C7067;

// darkest version of body-background-color
$Dark-title-color: #2D423D;
